#nav-bar{
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

#page-body{
    margin-bottom: 50px;
    padding-bottom: 10px;
}

.header {
    font-family: 'Cookie', cursive;
    font-size: 30px;
}

.header > h1 {
    margin-block-start: 10px;
    margin-block-end: 0px;
}