#nav-bar{
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

#page-body{
    margin-bottom: 50px;
    padding-bottom: 10px;
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    font-family: 'Montserrat', sans-serif;
}

#header{
    font-family: 'Cookie', cursive;
    font-size: 40px;
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
}

#header > h1 {
    /* display: flex; */
    margin-bottom: 0px;
    /* margin-left: 80px;
    margin-right: 80px; */
    background: -webkit-linear-gradient(#f77062, #fe5196);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 10px;
    padding: 2px;
}

#header > div {
    margin-top: 20px;
}

.help-button {
    text-decoration: none;
    padding: 15px;
    color: black;
}

.delete-button {
    height: 30px;
    width: 30px;
    padding: 15px;
}

#spacer-div {
    width: 30px;
    padding: 15px;
}