.display-container {
    padding-top: 10px;
}

.display-container > h2 {
    background: #fff;
    font-size: 30px;
}

.display-container > p {
    font-size: 20px;
    padding: 0px;
    margin: 5px;
}

.swipe-buttons {
    padding-top: 20px;
    display: flex;
    justify-content: space-evenly;
}