.display-container {
    padding-top: 10px;

}

.display-container > h2 {
    background: #fff;
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 15px;
}

.display-container > p {
    font-size: 20px;
    padding: 0px;
    margin: 5px;
}

.swipe-buttons {
    padding-top: 10px;
    display: flex;
    justify-content: space-evenly;
}

.display-picture {
    height: 45vh;
    width: 80vw;
    max-width: 80vw;
    object-fit: cover;
    border-radius: 8px;   
    overflow-x: hidden;
}