
.setUp-input{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  border: none;
  border-bottom: 1px gray solid;
  margin: 20px auto;
  padding: 5px;
}

/* #header{
  padding: 20px 20px;
  margin-top: 0;
  color: white;
  background-color: rgb(66, 136, 130);
} */

#button{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  padding: 10px 60px;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
  background-color: darkgray;
  box-shadow: black 0 0 1px;
  border-radius: 6px;
  margin: 15px auto;
  
}

#button:hover{
  background-color: lightpink;
  box-shadow: 0 0 7px gray;
  color: white;
}

#vaccinated{
  font-weight: 500;
  color: gray;
  margin-bottom: 0px;
}

.Choice{
  padding: 10px 0px;
  margin: 10px 10px; 
}

.option-bar{
  display: flex;
  flex-flow: column wrap;
  margin: 20px auto;
  border: none;
  color: gray;
  border-bottom: 1px gray solid;
  padding: 5px 0px;
  width: 156px;
  background-color: white;
}

.image-upload {
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  margin: 40px auto;
}

.image-upload > input {
  display: none;
}

#uploaded-image{
  height: 180px;
  width: 180px;
  object-fit: cover;
  border-radius: 50%;
}

.close-icon{
  background-color: darkgray;
  border-radius: 50%;
  z-index: 10;
  width: 20px;
  height: 20px;
}

#add-image{
  color: slategray;
  margin: 0px 0px;
}

.Choice{
  display: flex;
  justify-content: space-around;
  margin: 0px;
  padding-top: 15px;
  padding-left: 100px;
  padding-right: 100px;
  color: gray;
}

.radio-button{
  padding: 0px;
}
