.display-profile-content{
  padding: 20px 0px;
  margin: 0px 10px;
  border-radius: 10px;
  box-shadow: 0 0 5px gray;
}

img{
  height: 30vh;
  width: 80vw;
  object-fit: cover;
  border-radius: 8px;
}

#image{
    height: 250px;
    width: 250px;
    object-fit: cover;
    border-radius: 8px;
  
}

#button-update{
  position: fixed;
  right: 5px;
  bottom: 50px;
  background-color: rgb(66, 136, 130);
  border-radius: 50%;
  font-size: 20px;
  padding: 10px;
  color: white;
  border: 1px gainsboro solid;
}

#name{
  font-size: 18px;
}
#name1{
  color: slategray;
}


