
#tile-template-section{
    width: 80px;
    height: 80px;
    margin-bottom: 0;

}

#tile-template-section>p{
    margin: 5px 10px;
    font-weight: bold;
}

#tile-template-section>img{
    width: 48px;
    height: 48px;
    border: 2px solid white;
    border-radius: 50%;

}