
#tile-section {
    padding: 10px;
}

#tile-section >* {
    text-align: start;
    margin: 0px;
}

#tile-section > h5 {
    font-size: 15px;
    text-decoration: underline;
    padding-bottom: 5px;
}

#tile-picture-section>img{
    height: 80px;
    width: 80px;
    border-radius: 45px;
}

#total-tile-section{
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    padding: 10px;
}