
#preview-section{
    overflow-y: auto;
    height: 60vh;
    background: #fff;
    /* border: 1px solid gray; */

}

#preview-section > a {
    text-decoration: none;
    font-size: 15px;
    color: black;

}