.nav-bar-section>ul{
    list-style: none;
    display: grid;
    padding-inline-start: 0px;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0px;
}

.nav-bar-section>ul>li>a{
    text-decoration: none;
    color: black;
}

.nav-bar-section>ul>li{
    padding: 0px;
    margin: 0px 5px;

}

.nav-bar-section{
    background-color: pink;
    padding: 10px;
}

.nav-bar-section>ul>li>a>p{
    padding: 10px 20px;
    margin: 0px;
    border-radius: 10px;
}

.highlighted-button{
    background-color: #fff;
}

.nav-home {
    padding: 0;
    margin: 0;
}

.unhighlighted-button{
    background-color: #fff;
}